<html>
	<head>
		<link rel="stylesheet" href="/assets/css/banner.css">
		<link rel="stylesheet" href="/assets/css/about.css">
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
	</head>

	{{template "banner.tmpl" .}}

	<div id="mainPane">
		<div id="aboutSite">
			<h1>About The Site</h1>
			<p>
				Golang Basics is for developers wanting an introduction into programming in Go.
			</p>
			<p>
				It is built off of several years experience teaching Go around the world for Google.
			</p>
			<p>
				This class will teach the basics of the language so that you can then begin exploring
				Go tooling and advanced concepts that many great Gophers (what we call Go developers) have written.
			</p>
		</div>

		<div id="aboutMe">
			<h1>A Little About Me</h1>
			<img id="me" src="assets/images/me.png">
			<h2>Name:</h2></h2>
			<span class="textStyle"> John Doak</span>
			<h2>Occupation:</h2>
			<span class="textStyle">Principal SWE Manager, Microsoft Azure</span>
			<h2>Formerly:</h2>
			<span class="textStyle">Staff SRE, Google</span>
			<br />
			<span class="textStyle">Staff Network Systems Engineer, Google (I was the first network focused SRE)</span>
			<br />
			<span class="textStyle">Network Engineer, Google</span>
			<br />
			<span class="textStyle">Network Engineer, LucasFilm/LucasArts/ILM</span>
			<br />
			<h2>Websites:</h2> 
			<a href="http://www.gophersre.com">gophersre.com</a>
			<a href="http://www.obscuredworld.com">obscuredworld.com</a>
			<a href="http://www.linkedin.com/in/johngdoak/">LinkedIn</a>
		</div>
	</div>

</html>
