#container{
}

#navList {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

ul#navList li {
    display:inline;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}
 
ul#navList li a {
    padding:10px 25px;
    color:#616161;
}
 
ul#navList li a:hover {
    background:#f8f8f8;
    color:#282828;
}
 
ul#navList li a.first {
    border-left: 0 none;
}
 
ul#navList li a.last {
    border-right: 0 none;
}
 
ul#navList li:hover > a {
    background:#fff;
}



/* Drop-Down Navigation */
ul#navList li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible !important;
    opacity:1;
}
 
ul#navList ul, ul#navList ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navList ul {
    top: 43px;
    left: 1px;
}
 
ul#navList ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}
 
ul#navList ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#navList ul li a {
    background:none;
    padding:3px 7px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}
