[
	{
		"Index": 0,
		"Name": "Intro",
		"URL": "https://player.vimeo.com/video/422489803"
	},
	{
		"Index": 1,
		"Name": "Packages",
		"URL": "https://player.vimeo.com/video/422491427"
	},
	{
		"Index": 2,
		"Name": "Types",
		"URL": "https://player.vimeo.com/video/422276275"
	},
	{
		"Index": 3,
		"Name": "Variables",
		"URL": "https://player.vimeo.com/video/422276562"
	},
	{
		"Index": 4,
		"Name": "Loops",
		"URL": "https://player.vimeo.com/video/422277524"
	},
	{
		"Index": 5,
		"Name": "Conditionals",
		"URL": "https://player.vimeo.com/video/422278215"
	},
	{
		"Index": 6,
		"Name": "Functions",
		"URL": "https://player.vimeo.com/video/422471696"
	},
	{
		"Index": 7,
		"Name": "Public Vs Private",
		"URL": "https://player.vimeo.com/video/422472615"
	},
	{
		"Index": 8,
		"Name": "Variable Scoping",
		"URL": "https://player.vimeo.com/video/422473198"
	},
	{
		"Index": 9,
		"Name": "Structs",
		"URL": "https://player.vimeo.com/video/422474498"
	},
	{
		"Index": 10,
		"Name": "Pointers",
		"URL": "https://player.vimeo.com/video/422475141"
	},
	{
		"Index": 11,
		"Name": "Finding Keys in Maps",
		"URL": "https://player.vimeo.com/video/422476680"
	},
	{
		"Index": 12,
		"Name": "Variadic Functions",
		"URL": "https://player.vimeo.com/video/422477500"
	},
	{
		"Index": 13,
		"Name": "Error Handling",
		"URL": "https://player.vimeo.com/video/422478214"
	},
	{
		"Index": 14,
		"Name": "Annonymous Functions",
		"URL": "https://player.vimeo.com/video/422478942"
	},
	{
		"Index": 15,
		"Name": "Defer/Panic/Recover",
		"URL": "https://player.vimeo.com/video/422479451"
	},
	{
		"Index": 16,
		"Name": "Interfaces",
		"URL": "https://player.vimeo.com/video/422480800"
	},
	{
		"Index": 17,
		"Name": "Go Routines",
		"URL": "https://player.vimeo.com/video/422481830"
	},
	{
		"Index": 18,
		"Name": "Constants",
		"URL": "https://player.vimeo.com/video/422484827"
	},
	{
		"Index": 19,
		"Name": "Blank Interfaces",
		"URL": "https://player.vimeo.com/video/422485230"
	},
	{
		"Index": 20,
		"Name": "Embedding/Composition",
		"URL": "https://player.vimeo.com/video/422487443"
	},
	{
		"Index": 21,
		"Name": "Testing",
		"URL": "https://player.vimeo.com/video/422488887"
	},
	{
		"Index": 22,
		"Name": "Acknowledgements",
		"URL": "https://player.vimeo.com/video/422489741"
	}
]